body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 220px;
    height: 100%;
    background: #003366;
    padding-top: 60px;
    transition: 0.3s;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 20px 0;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Menu Button */
#menu-btn {
    font-size: 28px;
    cursor: pointer;
    margin: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.institution-title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    margin-top: 20px;
}

/* Logo */
.logo-container img {
    width:180px;
    margin-top: 20px;
}

/* Description */
.description {
    margin: 20px;
    font-size: 18px;
    line-height: 1.5;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
    padding: 10px 0;
    font-size: 14px;
}
